@charset "UTF-8";
@font-face {
  font-family: "Larsseit";
  src: local("Larsseit Medium"), local("Larsseit-Medium"), url("../fonts/Larsseit-Medium.woff2") format("woff2"), url("../fonts/Larsseit-Medium.woff") format("woff"), url("../fonts/Larsseit-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Larsseit";
  src: local("Larsseit Regular"), local("Larsseit-Regular"), url("../fonts/Larsseit.woff2") format("woff2"), url("../fonts/Larsseit.woff") format("woff"), url("../fonts/Larsseit.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Larsseit";
  src: local("Larsseit Bold"), local("Larsseit-Bold"), url("../fonts/Larsseit-Bold.woff2") format("woff2"), url("../fonts/Larsseit-Bold.woff") format("woff"), url("../fonts/Larsseit-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
:root {
  --sizeMain:24px;
}

body {
  font-family: "Larsseit", sans-serif;
  color: #ABB2BF;
  font-weight: 700;
  font-size: var(--sizeMain);
  color: #22356F;
}

/*  */
.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

/*  */
._container {
  width: 100%;
  padding: 0px 0px 0px 179px;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

/* ----------Logo------------ */
.logo {
  line-height: 1.125em;
  letter-spacing: -0.035em;
  color: #62D0DF;
}

/* ---------Header---------- */
.header {
  position: relative;
  z-index: 2;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 131px 0px 179px;
}
.header__menu {
  padding: 0px 15px;
}
.header__button {
  flex-shrink: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 14px;
  line-height: 1.14em;
  width: 10.715em;
  height: 3.572em;
  border-radius: 3.572em;
  background: #62D0DF;
}

.menu__list {
  display: flex;
  gap: 26px;
}
.menu__link {
  color: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14em;
  position: relative;
  padding: 0px 5px;
}
.menu__link:hover::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -12px;
  height: 1px;
  background-color: #22356F;
}

/* ----First-content----- */
.first-content {
  height: 100vh;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
  margin: 0px 0px 55px 0px;
}
.first-content::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 77%;
  background: #F4F9E2;
  z-index: -1;
}
.first-content__container {
  display: flex;
}
.first-content__item {
  max-width: 484px;
}
.first-content__logo {
  margin: 0px 0px 50px 0px;
}
.first-content__title {
  font-size: 2em;
  line-height: 1.104em;
  letter-spacing: -0.035em;
  margin: 0px 0px 78px 0px;
}
.first-content__text {
  line-height: 1.75em;
  font-weight: 400;
  margin: 0px 0px 60px 0px;
}

.buttons__item {
  font-size: 0.6666em;
  line-height: 1.437em;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.1em;
  color: #ffffff;
  background: #F9B640;
  width: 9.375em;
  height: 3.125em;
}
.buttons__item:not(:last-child) {
  margin: 0px 38px 0px 0px;
}
.buttons__item--transparent {
  color: #FAB63E;
  background: transparent;
}

.first-content__image {
  position: absolute;
  top: 0%;
  padding-bottom: 46%;
  right: 0;
  width: 45%;
}

.elipse {
  position: absolute;
  top: -4.29%;
  right: -10.24%;
  width: 52.58%;
  height: 75.51%;
  z-index: 0;
  background: #EDFDFF;
  border-radius: 312.159px;
  transform: rotate(120deg) scale(0.8);
}

/* ---------Page---------- */
.page {
  flex: 1 1 100%;
}
/* ------Why-thrive------- */
.why-thrive {
  background: #62D0DF;
  color: #ffffff;
}
.why-thrive__container {
  display: flex;
  justify-content: space-between;
}
.why-thrive__column {
  position: relative;
}
.why-thrive__column--img {
  flex-basis: 39.17%;
}
.why-thrive__content {
  max-width: 555px;
  padding: 151px 0px 92px 0px;
}
.why-thrive__title {
  font-size: 36px;
  line-height: 0.75em;
  letter-spacing: -0.006em;
  margin: 0px 0px 75px 0px;
}
.why-thrive__text {
  line-height: 1.45em;
}
.why-thrive__text span {
  font-weight: 400;
  font-size: 0.8em;
}
.why-thrive__image {
  padding-bottom: 114%;
}

/* ------About-us------- */
.about-us {
  padding: 150px 50px 24px 106px;
}
.about-us__wrapper {
  display: flex;
  gap: 225px;
  margin: 0px 0px 70px 0px;
}
.about-us__title {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.43em;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.about-us__text {
  max-width: 592px;
  font-weight: 500;
  line-height: 1.41em;
  letter-spacing: 0.005em;
}
.about-us__subtitle {
  font-size: 16px;
  line-height: 1.18em;
  text-align: center;
  letter-spacing: 0.06em;
  color: rgba(34, 53, 111, 0.5);
}

/* --------Cards-servises------- */
._cards-title {
  font-size: 32px;
  line-height: 1.06em;
  letter-spacing: -0.006em;
  color: #ffffff;
  position: relative;
  padding: 0px 0px 0px 24px;
}
._cards-title::before {
  content: "";
  position: absolute;
  display: block;
  top: 0.25em;
  left: 0;
  width: 0.281em;
  height: 0.281em;
  border-radius: 50%;
  background: #E9B730;
}
._cards-title::after {
  content: "";
  position: absolute;
  top: -0.718em;
  left: 0;
  right: 0;
  height: 1px;
  background-color: #ffffff;
}

.cards-servises {
  margin: 0px 0px 120px 0px;
}
.cards-servises__row {
  display: flex;
  height: 360px;
}
.cards-servises__column {
  flex: 0 1 25%;
  padding: 95px 50px 211px 78px;
}
.cards-servises__column--1 {
  background: #FFE2DE;
}
.cards-servises__column--2 {
  background: #C4E769;
}
.cards-servises__column--3 {
  background: #62D0DF;
}
.cards-servises__column--4 {
  background: #0052C1;
}

/* --------Cards-section------- */
.cards-section {
  margin: 0px 0px 22px 0px;
}
.cards-section__rows {
  display: flex;
  flex-wrap: wrap;
}
.cards-section__column {
  flex: 0 1 33.333%;
  height: 480px;
  padding: 126px 70px 282px 104px;
}
.cards-section__column--1 {
  background: #22356F;
}
.cards-section__column--2 {
  background: #0052C1;
}
.cards-section__column--3 {
  background: url(/img/cards-section/1.jpg) 0 0/cover no-repeat;
}
.cards-section__column--4 {
  background: #62D0DF;
}
.cards-section__column--5 {
  background: #DEE1FF;
}
.cards-section__column--6 {
  background: #8F00FF;
}
.cards-section__title {
  padding: 0px 91px 0px 24px;
}

/* --------Servises-spec------- */
.servises-spec {
  margin: 0px 0px 40px 0px;
}
.servises-spec__rows {
  display: flex;
  flex-wrap: wrap;
}
.servises-spec__column {
  flex: 0 1 33.333%;
}
.servises-spec__content {
  padding: 60px 102px 45px 105px;
  font-weight: 400;
}
.servises-spec__title {
  font-size: 1.167em;
  line-height: 1.178em;
  letter-spacing: -0.03em;
  margin: 0px 0px 28px 0px;
}
.servises-spec__text {
  font-size: 0.667em;
  line-height: 1.562em;
  letter-spacing: -0.03em;
  color: rgba(34, 53, 111, 0.5);
}

/* --------Banners------- */
.banners__content {
  display: flex;
}
.banners__content--revers {
  flex-direction: row-reverse;
}
.banners__image {
  flex: 0 0 33.333%;
}
.banners__description {
  padding: 103px 199px 42px 106px;
}

.banners-description {
  flex: 0 1 auto;
}
.banners-description__subtitle {
  font-weight: 400;
  font-size: 0.667em;
  line-height: 0.75em;
  letter-spacing: 0.06em;
  margin: 0px 0px 225px 0px;
}
.banners-description__text {
  font-size: 1.5em;
  line-height: 1.473em;
  letter-spacing: -0.01em;
  margin: 0px 0px 152px 0px;
}
.banners-description__link {
  font-size: 0.667em;
  line-height: 1.562em;
  letter-spacing: 0.1em;
  color: #FAB63E;
}
.banners-description--blue {
  color: #ffffff;
  background: #22356F;
}
.banners-description--blue .banners-description__subtitle {
  font-weight: 400;
  font-size: 0.667em;
  line-height: 0.75em;
  letter-spacing: 0.06em;
  margin: 0px 0px 230px 0px;
}
.banners-description--blue .banners-description__title {
  font-size: 2.667em;
  line-height: 1.468em;
  letter-spacing: -0.01em;
  margin: 0px 0px 50px 0px;
}
.banners-description--blue .banners-description__text {
  font-weight: 400;
  margin: 0px 0px 88px 0px;
}
.banners-description--blue .banners-description__link {
  color: #62D0DF;
}

/* --------Footer------- */
.footer__container {
  display: flex;
}
.footer__image {
  flex: 0 0 39.5%;
}
.footer__content {
  flex: 0 1 auto;
}

.content-footer {
  display: flex;
  padding: 100px 40px 93px 68px;
  gap: 80px;
}
.content-footer__column {
  flex: 0 1 33.333%;
}
.content-footer__title {
  font-size: 0.584em;
  line-height: 0.786em;
  letter-spacing: -0.006em;
  margin: 0px 0px 50px 0px;
}
.content-footer__text {
  font-weight: 400;
  font-size: 0.584em;
  line-height: 1.64em;
  letter-spacing: -0.006em;
  color: rgba(34, 53, 111, 0.5);
}
.content-footer__text:not(:last-child) {
  margin: 0px 0px 30px 0px;
  padding: 0px 10px 0px 0px;
}
.content-footer__text a {
  display: block;
}
.content-footer__text a:nth-child(1) {
  color: inherit;
}
.content-footer__text a:nth-child(2) {
  color: #006DFF;
}